html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DMSans-Regular.ttf);

}

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    src: url(../fonts/DMSans-Bold.ttf);
}



body {
    margin: 0;
    background-color: var(--background);
    color: var(--white-text);
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

:root {
    --white-text: #FFFFFF;
    --btn: #118DA8;
    --card: #000000;
    --background: #191919;
}

.header {
    padding: 40px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1330px;
    padding: 0 15px;

}

.main-logo {
    width: 160px;
    height: 33px;
}

.navigation {
    width: 364px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 40px;

}

.menu-item a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 27px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.menu-item .active {
    color: #118DA8;
}

.hero-section {

    display: flex;

    align-items: flex-end;
}

.hero-img {
    position: relative;
    width: 50%;
    margin-top: 38px;

}

.hero-img .main-image {

    border-radius: 12px;
    max-width: 100%;
    border-style: none;
}

.decoration-img {

    position: absolute;
    top: -26px;
    left: -26px;

}


.right-side-content {
    width: 50%;
    padding-left: 60px;
    margin-bottom: 150px;

}


.big-words {
    margin: 0;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-bottom: 90px;

}

.share-social {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 24px;
    padding-left: 20px;


}

.share-social-list {
    display: flex;
    list-style-type: none;
    padding-left: 23px;

}

.share-social-item {
    margin-right: 17px;
}


.blue-strip-words {
    position: relative;
    display: inline-block;
}

.blue-strip-words::after {
    position: absolute;
    content: url(../image/BlueLine.svg);
    top: -7px;
    left: 0;
    width: 100%;
    height: 11px;

}


.bold-word {
    font-weight: 700;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 3.2px;
    padding-left: 10px;

}

.container-episod {
    padding-top: 87px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-episode__title {
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}

.container-episode__btn {
    width: 178px;
    height: 51px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background: var(--btn);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}

.episodes-card {
    display: flex;
    margin-bottom: 60px;
    border-radius: 32px;
    background: var(--card);
}

.episodes-card__image {
    width: 389px;
    padding: 40px 0 40px 40px;

}

.episodes-card__content {
    padding: 40px 0 0 53px;
    margin: 0 40px 40px 0;
}

.episodes-card__content__category {
    display: inline-block;
    padding: 0 16px 0 16px;
    margin-bottom: 50px;
    border-radius: 6px;
    background-color: var(--background);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.episodes-card__content__number {
    color: var(--btn);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 18px;
}

.episodes-card__content__title {
    color: var(--white-text);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    max-width: 700px;
    margin-bottom: 28px;
}

.episodes-card__content__text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}

.episodes-card__content__btn {
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    background-color: var(--btn);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 12px 15px 12px 20px;
}